body{
    font-family: Arial, sans-serif;
    background-color: hsl(0,50%,90%);/*#f4f4f4;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(186,164,190);/*white;*/
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 15px 30px rgb(140,72,38);
    width: 400px;
}

h1{
    color: #333;
}

input{
    padding: 10px;
    font-size: 18px;
    width: 150px;
}

button{
    padding: 10px 15px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(219,185,114);/*#4CAF50;*/
    color: white;
}

button:hover{
    background-color: rgb(205,170,105);/*#45a049;*/
}

#message{
    font-size: 22px;
    font-weight: bold;
}

#attempts{
    font-size: 18px;
}
